:root{
    --main-color: #CBFE1C;
}
body{
    font-family: "Chakra Petch", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Days One", sans-serif;
}
.fs-12{
    font-size: 12px;
}
.text-gray{
    color: oklch(0.707 0.022 261.325);
}
p{
    color: oklch(0.872 0.01 258.338);
}
.bg-main{
    background-color: var(--main-color);
}
.text-main{
    color: var(--main-color) !important;
}
.btn-shine{
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.btn-shine::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: all 0.3s;
}
.btn-shine:hover::before{
    left: 100%;
}
.btn-shine:hover{
    background-color: #a4ce1a;
}

/* Navbar */
.nav-item .nav-link,
.nav-icon li{
    color: white;
    transition: 0.3s all;
    cursor: pointer;
}
.nav-item .nav-link:hover,
.nav-icon li:hover i,
.nav-icon li:hover span{
    color: var(--main-color);
}

/* Home */
#home{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0 ,0 ,0.85)), url(../Images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    color: white;
}
#home .container{
    padding-top: 80px;
    margin-top: 80px;
}
.hero-text h1{
    font-size: 60px;
}
.btn-custom{
    background-color: transparent;
    border: 1px solid var(--main-color);
    transition: 0.3s all;
}
.btn-custom:hover{
    background-color: var(--main-color);
    color: black !important;
}
.hero-img img{
    height: 400px;
    object-fit: cover;
    border: 5px solid var(--main-color);
    border-radius: 15px;
}
.hero-badge{
    background-color: #0B0E13;
    bottom: -16px;
    left: -16px;
}
.max-w-576{
    max-width: 576px;
}